@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';


@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --color-ring-purple:#d6bae4;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  --tw-ring-opacity: 1;
  --fluid-base: clamp(2rem, 1.36rem + 1vw, 3rem);
  --fluid-lg: clamp(15%, 2.44rem + 5vw, 9rem);
  /* --fluid-lg: clamp(50%, 2.44rem + 5vw, 9rem); */
  --fluid-sm: clamp(3rem, 1.72rem + 3vw, 5rem);
  --container-banner: clamp(2rem, 1.36rem + 1vw, 3rem);
  --bg-violet: #f0f1ff;
}
@layer base {
  html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
}

.block--container {
  justify-content: center;
  /* background-image: url("./assets/images/mesh-gradient.png"); */
  background-image: linear-gradient(200deg, #d6bae4, transparent 40%);
  background-repeat: no-repeat;
  width: -moz-fit-content;
  width: 100%;
}
h1 {
  font-size: 24px;
}
.text--box {
  background-image: url("./assets/images/back.jpg");
  background-repeat: no-repeat;
  font-family: sans-serif;
  line-height: 70px;
  font-size: 60px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke: 1px #552379;
  -webkit-background-clip: text;
  /* animation:back 5s linear infinite; */
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 25px;

  font-style: normal;
}
.banner {
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  overflow: hidden;
  border-radius: 18px;
}
.banner:hover .banner-img {
  transform: scale(1.3);
}
.banner-img {
  background-image: url("./assets/images/heroImage.jpg");
  width: 100%;
  height: auto;
  border-radius: 18px;
  transition: transform 1.5s ease;
}

.global {
  padding-top: 10vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 10vw;
}
.ourwork {
  padding: 0 5vw 3vh 5vh;
}
.ourwork-h1 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  width: 75%;
}

.grid--disposition {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
/*  */
.gradient {
  /* width: 100%;
  height: 100vh;
  position: relative;
  inset: 0;
  mix-blend-mode: normal;
  background-color: #d6bae4; */
  background-image: radial-gradient(#f0f1ff, #ffffff 35%);
  /* radial-gradient(at 30% 21%, hsla(214, 62%, 64%, 1) 0px, transparent 50%), */
  /* radial-gradient(at 32% 8%, hsla(208, 50%, 90%, 1) 0px, transparent 50%), */
  /* radial-gradient( #d6bae4, transparent 80%); */
  /* radial-gradient(at 39% 83%, hsla(261, 89%, 63%, 1) 0px, transparent 50%), */
  /* radial-gradient(at 30% 21%, hsla(214, 62%, 64%, 1) 0px, transparent 50%), */
  /* radial-gradient(at 66% 54%, hsla(215, 51%, 25%, 1) 0px, transparent 50%), */
  /* radial-gradient(at 74% 47%, hsla(215, 51%, 12%, 1) 0px, transparent 50%), */
  /* radial-gradient(at 100% 100%, hsl(220, 68%, 81%) 0px, transparent 50%); */
  /* animation: hue-rotate 5s linear infinite; */
}

.gradient--linear {
  width: 100%;
  height: 100vh;
  position: relative;
  inset: 0;
  mix-blend-mode:multiply;
  /* background-color: #d6bae4; */
  /* background-image: radial-gradient(#d6bae4, #ffffff 20%); */
/* animation: hue-rotate 5s linear infinite; */
}
/* .btn--started{ background: linear-gradient(135deg, #d6bae4 0%, #d4e8f5 100%)} */
.btn--started{ background: #f9f7fb; border: 2px solid #d6bae4; color: #4a4458};

.btn--start::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 105%;
  border-radius: 9999px;
  background-image: linear-gradient(to bottom right,135deg, #d6bae4 0%, #d4e8f5 100%);
  z-index: -1;
}
.btn-start:hover {
  box-shadow: 40px 0 100px #394aaa, -40px 0 100px #963ab4;
}

.btn-login {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
.btn-login:focus,
.btn-login:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.wrapper--card{
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}
.header{
  border-bottom: 1px solid #e6e6e6;
}

.scrollbar{
  background-color: #963ab4;
  
}


@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
/*  */

@media screen and (min-width: 700px) {
  .ourwork {
    width: 50%;
  }
  .ourwork-h1 {
    font-size: 2rem;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .ourwork {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) {
 .spline{
  display: none;
 }
}
/* @keyframes back{
  100%{
    background-position: 1000px 0;
  }
} */